{% extends 'base.html.twig' %}

{% block title %}Pannier
{% endblock %}

{% block body %}
	<main class="d-flex w-100 m-5">
		<div class="container d-flex flex-column">
			<div class="row">
				<div class="col-sm-10 col-md-8 col-lg-12 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">
						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									<h1>Mon Panier</h1>
									{% set total = null %}
									<table class="table table-hover table-inverse table-responsive">
										{% if cart is empty %}
											<p>Votre panier est vide.</p>
										{% else %}
											<thead class="thead-inverse">
												<tr>
													<th scope="col">Produit</th>
													<th scope="col"></th>
													<th scope="col">Quantité</th>
													<th scope="col">Prix</th>
													<th scope="col">Total</th>
													<th scope="col"></th>
												</tr>
											</thead>
											<tbody>
												{% for product in cart %}
													<tr>
														<td>{% set tab=[] %}
															{% for image in product.product.images %}
																{% set tab = tab|merge([image])  %}
															{% endfor %}
															{% if tab == []  %}
																<img src="{{ asset('/uploads/no-image-icon-23483.png')| imagine_filter('panier') }}" class="card-img-top" alt="...">
															{% else %}
																<img src="{{ vich_uploader_asset(tab[0],'fileUrl') | imagine_filter('panier') }}" class="card-img-top" alt="...">
															{% endif %}
														</td>
														<td>
															{{ product.product.name }}</br>
															<small class="text-muted">{{ product.product.description }}</small>
														</td>
														<td><a href="{{ path('cart_decrease', { 'id' : product.product.id }) }}"><i class="bi bi-plus me-1"></i></a>
															x{{ product.quantity }}
															<a href="{{ path('cart_add', { 'id' : product.product.id }) }}"><i class="bi bi-plus me-1"></i></a>
														</td>
														<td>{{ product.product.price|number_format(2, ',', ' ') }}
															Ar</td>
														<td>{{ (product.product.price * product.quantity)|number_format(2, ',', ' ') }}
															Ar</td>
														<td>
															<a href="{{ path('cart_delete', { 'id' : product.product.id }) }}" class="text-danger">
																<i class="bi bi-trash me-1"></i>
															</a>
														</td>
													</tr>
													{% set total = total + (product.product.price * product.quantity) %}
												{% endfor %}
											</tbody>
										{% endif %}
									</table>
									{% if cart is not empty %}
										<div class="text-end">
											<b>Nombre de produit :</b> {{ cart|length }} </br>
											<b>Total de mon panier :</b> {{ total|number_format(2, ',', ' ') }} Ar</br>
											<a href="{{ path('order_view') }}" class="btn btn-dark my-2">Valider mon panier</a>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
