{% extends 'base.html.twig' %}

{% block title %}Connexion - SoaIrina
{% endblock %}

{% block body %}
	<main class="d-flex w-100 m-5">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<h1 class="h2">Content de te revoir</h1>
							<p class="lead">Veuillez vous connecter</p>
						</div>

						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									<div class="text-center">
										<img src="assets/img/undraw_secure_login_pdn4.png" class="img-fluid rounded-circle" width="300" height="300">
									</div>
									<form method="post">
										{% if error %}
											<div class="alert-danger p-2 my-2 border border-danger" role="alert">
												<i class="align-middle mx-3" data-feather="alert-circle"></i>
												{{ error.messageKey|trans({}, 'security') }}
											</div>
										{% endif %}
										<div class="mb-3">
											<label class="form-label">Email</label>
											<input class="form-control form-control-lg" value="{{ last_username }}" type="email" name="email" id="inputEmail" placeholder="Entrer votre Email" autocomplete="email" required autofocus>
										</div>
										<div class="mb-3">
											<label class="form-label">Mot de passe</label>
											<input class="form-control form-control-lg" type="password" name="password" id="inputPassword" placeholder="Tapez votre mot de passe" autocomplete="current-password" required>
											<div class="row p-2">
												<div class="col-4">
													<small>
														<a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié?</a>
													</small>
												</div>
												<div class="col-8 text-end">
													<small>
														vous n'avez pas encore de compte?
														<a href="{{ path('app_register') }}"> S'inscrire</a>
													</small>
												</div>
											</div>
										</div>
										<div class="mb-3">
											<label class="form-check">
												<input class="form-check-input" type="checkbox" value="remember-me" name="_remember_me" checked="">
												<span class="form-check-label">
													Souviens-toi de moi la prochaine fois
												</span>
											</label>
										</div>
										<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
										<div class="row g-3 text-center mb-3">
                                        	<button type="submit" class="btn btn-lg btn-primary">Se connecter</button>
                                    	</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
