<!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>À propos</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Parcourez nos collections de haute qualité, comprenant des vêtements décontractés, des tenues de soirée élégantes, des articles de sport et bien plus encore. Que vous recherchiez la dernière robe à la mode, le jean parfaitement ajusté ou les essentiels de la garde-robe quotidienne, nous avons ce qu'il vous faut.
            </p>
            <ul>
    <li><i class="ri-check-double-line"></i> Notre engagement envers la qualité se reflète dans notre utilisation de matériaux haut de gamme et de techniques de fabrication minutieuses.</li>
    <li><i class="ri-check-double-line"></i> Nous nous efforçons de garantir votre satisfaction en offrant des produits conçus avec soin pour vous offrir confort et élégance.</li>
    <li><i class="ri-check-double-line"></i> Chaque article est minutieusement travaillé, mettant en valeur notre attention aux détails et à la finition pour une expérience vestimentaire inégalée.</li>
</ul>

          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Nous utilisons des matériaux de haute qualité et des techniques de fabrication minutieuses pour garantir des produits confortables et élégants. Chaque pièce est conçue avec une attention particulière aux détails pour une expérience vestimentaire exceptionnelle. Nous nous engageons à offrir un style qui répond à vos exigences les plus élevées en termes de confort et d'esthétique.
            </p>
            <a href="#" class="btn-learn-more">Lire la suite</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->