<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">

    <div class="row">
      <div class="col-lg-9 text-center text-lg-start">
        <h3>Parcourez maintenant</h3>
        <p>Explorez nos collections uniques et trouvez votre style parfait dès aujourd'hui.</p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="#">Découvrir</a>
      </div>
    </div>

  </div>
</section><!-- End Cta Section -->
