<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

	<div class="container">
		<div class="row">
			<div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
				<h1>Nous engageons à offrir une expérience de shopping en ligne exceptionnelle</h1>
				<h2>Bienvenue sur SOAIRINA, votre destination en ligne pour la mode tendance et les dernières tendances en matière de vêtements. Découvrez notre vaste sélection de vêtements pour hommes, femmes et enfants, conçus pour vous aider à exprimer votre style unique.</h2>
				<div class="d-flex justify-content-center justify-content-lg-start">
					{% if app.user == false %}
						<a href="{{ path('app_register') }}" class="btn-get-started scrollto">S'inscrire</a>
					{% endif %}
				</div>
			</div>
			<div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
				<img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
			</div>
		</div>
	</div>

</section>
<!-- End Hero -->
