{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% include 'home/hero.html.twig' %}
    <main id="main">
    {% include 'home/clients.html.twig' %}
    {% include 'home/AboutUs.html.twig' %}
    {% include 'home/WhyUs.html.twig' %}
    {% include 'home/Skills.html.twig' %}
    {% include 'home/Services.html.twig' %}
    {% include 'home/Cta.html.twig' %}
    {% include 'home/Portfolio.html.twig' %}
    {% include 'home/Team.html.twig' %}
    {% include 'home/Pricing.html.twig' %}
    {% include 'home/FAQ.html.twig' %}
    {% include 'home/Contact.html.twig' %}
     </main><!-- End #main -->
{% endblock %}
