<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Nos Services</h2>
      <p>Explorez nos services et découvrez comment nous pouvons vous aider à améliorer votre expérience shopping.</p>
    </div>

    <div class="row">
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4><a href="">Conception Unique</a></h4>
          <p>Des designs uniques conçus pour vous démarquer de la foule et exprimer votre style personnel.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4><a href="">Personnalisation</a></h4>
          <p>Des options de personnalisation pour créer des vêtements qui correspondent parfaitement à votre taille et à vos préférences.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4><a href="">Livraison Rapide</a></h4>
          <p>Une livraison rapide et fiable pour que vous puissiez profiter de vos nouveaux achats dès que possible.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-layer"></i></div>
          <h4><a href="">Service Clientèle Exceptionnel</a></h4>
          <p>Un service clientèle attentionné et réactif pour répondre à toutes vos questions et préoccupations.</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->
