<!-- ======= Skills Section ======= -->
<section id="skills" class="skills">
	<div class="container" data-aos="fade-up">

		<div class="row">
			<div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
				<img src="assets/img/skills.png" class="img-fluid" alt="">
			</div>
			<div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
				<h3>Explorez notre expertise dans l'industrie de la mode</h3>
				<p class="fst-italic">
					Découvrez nos dernières collections et offrez-vous une expérience de shopping inoubliable. Nous sommes déterminés à vous fournir des produits de qualité supérieure et un service client exceptionnel à chaque étape de votre parcours.
				</p>

				<div class="skills-content">

					<div class="progress">
						<span class="skill">Conception de vêtements 
							<i class="val">100%</i>
						</span>
						<div class="progress-bar-wrap">
							<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>

					<div class="progress">
						<span class="skill">Gestion des stocks 
							<i class="val">90%</i>
						</span>
						<div class="progress-bar-wrap">
							<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>

					<div class="progress">
						<span class="skill">Marketing de la mode 
							<i class="val">75%</i>
						</span>
						<div class="progress-bar-wrap">
							<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>

					<div class="progress">
						<span class="skill">Techniques de couture 
							<i class="val">55%</i>
						</span>
						<div class="progress-bar-wrap">
							<div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>

				</div>

			</div>
		</div>

	</div>
</section>
<!-- End Skills Section -->
