<!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
          <h3>Des services exceptionnels pour répondre à vos besoins <strong>et vous offrir une expérience unique</strong></h3>
          <p>
            Notre engagement envers la satisfaction du client se reflète dans chaque aspect de notre service. Nous nous efforçons de vous offrir la meilleure qualité et un support client exceptionnel à chaque étape de votre parcours avec nous.
          </p>
        </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Nos produits répondent-ils à vos besoins spécifiques ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                  Notre gamme de produits est soigneusement sélectionnée pour répondre à divers besoins et préférences. Nous nous efforçons de garantir que chaque produit que nous proposons est à la hauteur de vos attentes.
                </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Pourquoi choisir notre service clientèle ?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                  Notre équipe de service clientèle dévouée est là pour répondre à toutes vos questions et préoccupations. Nous sommes engagés à fournir une assistance rapide et efficace pour garantir votre satisfaction totale.
                </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span>Comment pouvons-nous vous aider à atteindre vos objectifs ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                  Nous nous engageons à vous fournir les outils et les ressources nécessaires pour atteindre vos objectifs. Que vous cherchiez à améliorer votre apparence ou à trouver des solutions pour vos besoins vestimentaires spécifiques, nous sommes là pour vous aider.
                </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>

      </div>
    </section><!-- End Why Us Section -->