{% extends 'base.html.twig' %}

{% block title %}S'inscrire - SoaIrina
{% endblock %}

{% block body %}
	<main class="d-flex w-100 m-5">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">
						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									{{ form_start(registrationForm) }}
									<div class="row text-center border">
										<h1>Commencer</h1>
										<p>Ici, vous pouvez commencer à créer votre compte</p>
										<br>
										<label>
											<img src="assets/img/undraw_secure_login_pdn4.png" class="rounded-circle mb-2" id="uploaded-img" style="background-size: cover;" width="300" height="300">
											<br>
											<label>Cliquez pour parcourir ou faire glisser une image ici</label>
											{{ form_widget(registrationForm.pictureFile,{
                                            'attr':
                                            {
                                            'class' : 'upload-photos-user w-25'
                                            }
                                            }
                                            ) }}
											<div class="invalid-feedback">
												<span class="d-block">
													<span class="form-error-message">{{ form_errors(registrationForm.pictureFile) }}</span>
												</span>
											</div>
										</label>
									</div>
									<div class="row g-3 my-3">
										<div class="col-md-6">
											<label class="form-label required">Nom</label>
											{{ form_widget(registrationForm.firstname) }}
											<div class="invalid-feedback">
												<span class="d-block">
													<span class="form-error-message">{{ form_errors(registrationForm.firstname) }}</span>
												</span>
											</div>
										</div>
										<div class="col-md-6">
											<label class="form-label required">Prénom</label>
											{{ form_widget(registrationForm.lastname) }}
											<div class="invalid-feedback">
												<span class="d-block">
													<span class="form-error-message">{{ form_errors(registrationForm.lastname) }}</span>
												</span>
											</div>
										</div>
									</div>
									<div class="row g-3 mb-3">
										<div class="col-md-6">
											<label class="form-label required">Email</label>
											{{ form_widget(registrationForm.email) }}
											<div class="invalid-feedback">
												<span class="d-block">
													<span class="form-error-message">{{ form_errors(registrationForm.email) }}</span>
												</span>
											</div>
										</div>
									</div>
									<div class="row g-3 mb-3">
										<div class="col-md-6">
											<label class="form-label required">N° Téléphone</label>
											{{ form_widget(registrationForm.phoneNumber) }}
											<div class="invalid-feedback">
												<span class="d-block">
													<span class="form-error-message">{{ form_errors(registrationForm.phoneNumber) }}</span>
												</span>
											</div>
										</div>
                                        <div class="col-md-6">
											<label class="form-label required">Adresse</label>
											{{ form_widget(registrationForm.adress) }}
											<div class="invalid-feedback">
												<span class="d-block">
													<span class="form-error-message">{{ form_errors(registrationForm.adress) }}</span>
												</span>
											</div>
										</div>
									</div>
									<div class="row g-3 mb-3">
										<div class="col-md-6">
											<label class="form-label required">Mot de passe</label>
											{{ form_widget(registrationForm.plainPassword.first,{
                                                'attr' : {
                                                    'class' : 'ps-5'
                                                }
                                            }) }}
											<i class="bi bi-eye-slash" id="togglePassword"></i>
											<div class="invalid-feedback">
												<span class="d-block">
													<span class="form-error-message">{{ form_errors(registrationForm.plainPassword.first) }}</span>
												</span>
											</div>
										</div>
										<div class="col-md-6">
											<label class="form-label required">Confirmer mot de passe</label>
											{{ form_widget(registrationForm.plainPassword.second,{
                                                'attr' : {
                                                    'class' : 'ps-5'
                                                }
                                            }) }}
											<i class="bi bi-eye-slash" id="toggleConfirmPassword"></i>
										</div>
									</div>
									<div class="row g-3 text-center mb-3">
										<button type="submit" class="btn btn-lg btn-primary">S'inscrire</button>
									</div>
									{{ form_end(registrationForm) }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script>
		const togglePassword = document.querySelector('#togglePassword');
const password = document.querySelector('#registration_form_plainPassword_first');

togglePassword.addEventListener('click', function (e) { // toggle the type attribute
const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
password.setAttribute('type', type);
// toggle the eye / eye slash icon
this.classList.toggle('bi-eye');
});
	</script>
	<script>
		const toggleConfirmPassword = document.querySelector('#toggleConfirmPassword');
const confirmPassword = document.querySelector('#registration_form_plainPassword_second');

toggleConfirmPassword.addEventListener('click', function (e) { // toggle the type attribute
const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
confirmPassword.setAttribute('type', type);
// toggle the eye / eye slash icon
this.classList.toggle('bi-eye');
});
	</script>
	<script>
		const input = document.querySelector('#registration_form_pictureFile_file');
input.addEventListener('change', function (ev) {
var file = ev.target.files[0];
let reader = new FileReader();

var img = document.getElementById("uploaded-img");
reader.readAsDataURL(file);

reader.onload = function () {
img.src = reader.result;
};

reader.onerror = function () {
console.log(reader.error);
};
});
	</script>
{% endblock %}
