<!-- ======= Header ======= -->
<header id="header-space" class="fixed-top ">
	<div class="container d-flex align-items-center">

		<h1
			class="logo me-auto">
			{# <a href="{{ path('app_home') }}">Soa Irina</a> #}
			<a href="{{ path('app_home') }}" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
		</h1>
		<!-- Uncomment below if you prefer to use an image logo -->
		<!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

		<nav id="navbar" class="navbar">
			<ul>
				{% if app.user %}
					<li>
						<a href="{{ path('product') }}" class="nav-link scrollto {% if app.request.get('_route') == 'product' %}active{% endif %}">
							<i class='bx bxs-briefcase me-1'></i>Produit</a>
					</li>
					<li>
						<a href="{{ path('blogpost') }}" class="nav-link scrollto {% if app.request.get('_route') == 'blogpost' %}active{% endif %}">
							<i class='bx bx-news me-1'></i>Actualité</a>
					</li>
					{% if app.user.roles[0] == "ROLE_ADMIN" %}
						<li>
							<a href="{{ path('admin') }}" class="nav-link scrollto {% if app.request.get('_route') == 'admin' %}active{% endif %}">
								<i class="bi bi-display me-1"></i>Administration</a>
						</li>
					{% endif %}
					<li>
						<a href="{{ path('cart_view') }}" class="nav-link scrollto {% if app.request.get('_route') == 'cart_view' %}active{% endif %}">
							<i class='bx bx-news me-1'></i>Panier</a>
					</li>
					<li class="dropdown">
						<a href="#">
							<img {% if app.user.pictures is not null %} src="{{ vich_uploader_asset(app.user, 'pictureFile') | imagine_filter('pdp') }}" {% else %} src="{{ asset("uploads/male.png" ) | imagine_filter('pdp') }}" {% endif %} class="avatar img-fluid rounded rounded-circle me-1"/>
							{{ app.user.firstname }}
							{{ app.user.lastname }}
							<i class="bi bi-chevron-down"></i>
						</a>
						<ul>
							<li class="d-flex flex-row">
								<a href="{{ path('profil') }}">
									<i class='bx bxs-user-circle me-3'></i>Profile</a>
							</li>
							<li class="d-flex flex-row">
								<a href="{{ path('app_logout') }}">
									<i class='bx bx-log-out me-3'></i>Se deconnecter</a>
							</li>
						</ul>
					</li>
				{% endif %}

			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav>
		<!-- .navbar -->
	</div>
</header>
<!-- End Header -->
