<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
	<div class="container d-flex align-items-center">

		<h1 class="logo me-auto">
			<a href="{{ path('app_home') }}">Soa Irina</a>
		</h1>
		<!-- Uncomment below if you prefer to use an image logo -->
		<!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

		<nav id="navbar" class="navbar">
			<ul>
				<li>
					<a class="nav-link scrollto active" href="#hero">Accueil</a>
				</li>
				<li>
					<a class="nav-link scrollto" href="#about">À propos</a>
				</li>
				<li>
					<a class="nav-link scrollto" href="#services">Services</a>
				</li>
				<li>
					<a class="nav-link   scrollto" href="#portfolio">Portfolio</a>
				</li>
				<li>
					<a class="nav-link scrollto" href="#team">Équipe</a>
				</li>
				<li>
					<a class="nav-link scrollto" href="#contact">Contact</a>
				</li>
				{% if app.user %}
					<li>
						<a class="getstarted scrollto" href="{{ path('blogpost') }}">Actualité</a>
					</li>
				{% else %}
					<li>
						<a class="getstarted scrollto" href="{{ path('app_login') }}">Commencer</a>
					</li>
				{% endif %}
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav>
		<!-- .navbar -->

	</div>
</header>
<!-- End Header -->
