{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}
	<main class="d-flex w-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">
						<div class="text-center">
							<h1 class="h2">Content de te revoir</h1>
							<p>
								Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans
								{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
							</p>
							<p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou
								<a href="{{ path('app_forgot_password_request') }}">essayer à nouveau</a>.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
