{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	<main class="d-flex w-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">
						{% for flashError in app.flashes('reset_password_error') %}
							<div class="alert alert-danger" role="alert">{{ flashError }}</div>
						{% endfor %}
						<div class="text-center mt-4">
							<h1 class="h2">Content de te revoir</h1>
							<p class="lead">Réinitialisez votre mot de passe</p>
						</div>
						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									<div class="text-center">
										<img src="{{ asset('assets/img/undraw_Forgot_password_re_hxwm.png') }}" class="img-fluid rounded-circle" width="300" height="300">
									</div>
									{{ form_start(resetForm) }}
									{{ form_row(resetForm.plainPassword) }}
									<button class="btn btn-primary">Réinitialiser le mot de passe</button>
									{{ form_end(resetForm) }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
