{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<main class="d-flex w-100 m-5">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">
						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									{{ form_start(editForm) }}
									<div class="row text-center border">
										<h1>Modifer mon profile</h1>
										<br>
										<label>
											<img src="{{ vich_uploader_asset(app.user, 'pictureFile') }}" class="rounded-circle mb-2" id="uploaded-img" style="background-size: cover;" width="300" height="300">
											<br>
											<label>Cliquez pour parcourir ou faire glisser une image ici</label>
											{{ form_widget(editForm.pictures,{
                                            'attr':
                                            {
                                            'class' : 'upload-photos-user w-25'
                                            }
                                            }
                                            ) }}
											<div class="invalid-feedback">
												<span class="d-block">
													<span class="form-error-message">{{ form_errors(editForm.pictures) }}</span>
												</span>
											</div>
										</label>
									</div>
									<div class="row g-3 my-3">
										<div class="col-md-6">
											<label class="form-label required">Nom</label>
											{{ form_widget(editForm.firstname) }}
											<div class="invalid-feedback">
												<span class="d-block">
													<span class="form-error-message">{{ form_errors(editForm.firstname) }}</span>
												</span>
											</div>
										</div>
										<div class="col-md-6">
											<label class="form-label required">Prénom</label>
											{{ form_widget(editForm.lastname) }}
											<div class="invalid-feedback">
												<span class="d-block">
													<span class="form-error-message">{{ form_errors(editForm.lastname) }}</span>
												</span>
											</div>
										</div>
									</div>
									<div class="row g-3 mb-3">
										<div class="col-md-12">
											<label class="form-label required">Email</label>
											{{ form_widget(editForm.email) }}
											<div class="invalid-feedback">
												<span class="d-block">
													<span class="form-error-message">{{ form_errors(editForm.email) }}</span>
												</span>
											</div>
										</div>
									</div>
									<div class="row g-3 mb-3">
										<div class="col-md-6">
											<label class="form-label required">N° Téléphone</label>
											{{ form_widget(editForm.phoneNumber) }}
											<div class="invalid-feedback">
												<span class="d-block">
													<span class="form-error-message">{{ form_errors(editForm.phoneNumber) }}</span>
												</span>
											</div>
										</div>
										<div class="col-md-6">
											<label class="form-label required">Adresse</label>
											{{ form_widget(editForm.adress) }}
											<div class="invalid-feedback">
												<span class="d-block">
													<span class="form-error-message">{{ form_errors(editForm.adress) }}</span>
												</span>
											</div>
										</div>
									</div>
									<div class="row g-3 text-center mb-3">
										<button type="submit" class="btn btn-lg btn-primary">Modifier</button>
									</div>
									{{ form_end(editForm) }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script>
		const input = document.querySelector('#user_edit_form_pictures');
input.addEventListener('change', function (ev) {
var file = ev.target.files[0];
let reader = new FileReader();

var img = document.getElementById("uploaded-img");
reader.readAsDataURL(file);

reader.onload = function () {
img.src = reader.result;
};

reader.onerror = function () {
console.log(reader.error);
};
});
	</script>
{% endblock %}
