{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
		<div class="card p-4">
			<div class=" image d-flex flex-column justify-content-center align-items-center">
				<button class="btn btn-r">
					<img {% if app.user.pictures is not null %} src="{{ vich_uploader_asset(app.user, 'pictureFile') | imagine_filter('profil') }}" {% else %} src="{{ asset("uploads/male.png" ) | imagine_filter('profil') }}" {% endif %} height="100" width="100"/></button>
				<span class="name mt-3">{{ app.user.firstname }}
					{{ app.user.lastname }}</span>
				{% if app.user.roles[0] == 'ROLE_USER' %}
					<span class="idd text-danger">@utilisateur</span>
				{% else %}
					<span class="idd">@administrateur</span>
				{% endif %}
				<div class="d-flex flex-row justify-content-center align-items-center gap-2">
					<span class="idd1">{{ app.user.email }}</span>
					<span>
						<i class="bi bi-clipboard-check"></i>
					</span>
				</div>
				<div class="d-flex flex-row justify-content-center align-items-center mt-3">
					<span class="number">{{ app.user.phoneNumber }}
					</span>
				</div>
				<div class=" d-flex mt-2">
					<a class="btn btn-dark" href="{{ path('edit-profil', { 'id' : app.user.id }) }}">
						<i class="bi bi-pencil-square"></i>
						Modifier profile</a>
				</div>
				<div class="text mt-3">
					<span>{{ app.user.adress }}
					</span>
				</div>
				<div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
					<span>
						<i class="fa fa-twitter"></i>
					</span>
					<span>
						<i class="fa fa-facebook-f"></i>
					</span>
					<span>
						<i class="fa fa-instagram"></i>
					</span>
					<span>
						<i class="fa fa-linkedin"></i>
					</span>
				</div>
				<div class=" px-2 rounded mt-4 date ">
					<span class="badge bg-info">Crée-le,
						{{ app.user.createdAt|format_datetime('full', 'none', locale='fr') }}</span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
