{% extends "@EasyAdmin/layout.html.twig" %}
{% block content %}
	<div class="container-fluid py-5">
		<h1 class="display-5 fw-bold">Administration</h1>
		<p class="col-md-8 fs-4">Bienvenu dans l'interface de l'Administration de votre site</p>
		<a href="{{ path('app_home') }}" class="btn btn-primary btn-lg">Retour à l'Accueil</a>
	</div>
{% endblock %}