{% extends 'base.html.twig' %}

{% block title %}Actualité
{% endblock %}

{% block body %}
	<section id="contact" class="contact">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>{{ blog.title }}</h2>
				<p>{{ blog.contents }}</p>
				<br/><br/>
			</div>

			<div class="row">
				{% for product in blog.products %}
					{% set countLikeProduct = 0 %}
					{% for like in product.likes %}
						{% set countLikeProduct = countLikeProduct + 1 %}
					{% endfor %}
					<div class="col-lg-6 d-flex align-items-stretch mb-3">
						<div class="info">
							<div class="address">
								<i class="bi bi-tags-fill"></i>
								<h4>{{ product.name }}</h4>
								<p>{{ product.price|number_format(2, ',', ' ') }}
									Ar</p>
							</div>
							{% for image in product.images %}
								<iframe src="{{ vich_uploader_asset(image,'fileUrl') | imagine_filter('produit') }}" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
							{% endfor %}
							<a href="{{ path('product-id', { 'id' : product.id }) }}" class="btn btn-primary mt-3">EN SAVOIR PLUS</i>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>{% endblock %}
