{% extends 'base.html.twig' %}

{% block title %}Actualité
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-8">
				{% for blogpost in blogposts %}
					<div class="card mb-3">
						<div class="card-body">
							<div class="row mb-5">
								<div class="col-7 p-2">
									<div class="row">
										<div class="col">
											{% for product in blogpost.products %}
												{% for image in product.images %}
													<img src="{{ vich_uploader_asset(image,'fileUrl') | imagine_filter('blogpost') }}" class="figure-img img-fluid rounded" alt="...">
												{% endfor %}
											{% endfor %}
										</div>
									</div>
								</div>
								<div class="col-5">
									{% set countLike = 0 %}
									{% set countRemark = 0 %}
									{% for like in blogpost.likes %}
										{% set countLike = countLike + 1 %}
									{% endfor %}
									{% for remark in blogpost.remark %}
										{% set countRemark = countRemark + 1 %}
									{% endfor %}
									<small class="text-muted">
										<i class='bx bx-time me-1'></i>
										{{ blogpost.publishedOn|date("d/m/Y","Europe/Paris") }}</small>
									<a href="#" data-bs-toggle="modal" data-bs-target="#like{{ blogpost.id }}">
										<small class="text-muted ms-2">
											<i class='bx bx-like'></i>
											{{ countLike }}
										</small>
									</a>
									<!-- Modal -->
									<div class="modal fade" id="like{{ blogpost.id }}" tabindex="-1" aria-labelledby="likeModal" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="likeModal">Blogpost vu par</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													{% for like in blogpost.likes %}
														<div class="row mb-2">
															<div class="col-3">
																<img {% if app.user.pictures is not null %} src="{{ vich_uploader_asset(app.user, 'pictureFile') | imagine_filter('pdp') }}" {% else %} src="{{ asset("uploads/male.png" ) | imagine_filter('pdp') }}" {% endif %} class="avatar figure-img img-fluid rounded" alt="...">
															</div>
															<div class="col-9">
																<figure>
																	<blockquote class="blockquote">
																		<p>{{ like.author.firstname }}
																			{{ like.author.lastname }}</p>
																	</blockquote>
																	<figcaption class="blockquote-footer">
																		<cite title="Source Title">{{ like.author.email }}</cite>
																	</figcaption>
																</figure>
															</div>
														</div>
														<hr/>
													{% endfor %}
												</div>
											</div>
										</div>
									</div>
									<a href="#" data-bs-toggle="modal" data-bs-target="#remark{{ blogpost.id }}">
										<small class="text-muted ms-2">
											<i class='bx bx-message-minus'></i>
											{{ countRemark }}</small>
									</a>
									<!-- Modal -->
									<div class="modal fade" id="remark{{ blogpost.id }}" tabindex="-1" aria-labelledby="likeModal" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="likeModal">{{ countRemark }}
														commentaire(s)</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													{% for remark in blogpost.remark %}
														<div class="row">
															<div class="col-3">
																<img src="uploads/image/user/{{ remark.user.pictures }}" class="avatar figure-img img-fluid rounded" alt="...">
															</div>
															<div class="col-9">
																<small class="text-muted me-3">{{ remark.user.firstname }}
																	{{ remark.user.lastname }}</small>
																<small class="text-muted">
																	<i class='bx bx-time'></i>
																	{{ remark.commentOn|date("d/m/Y H:m","Europe/Paris") }}</small>
															</div>
														</div>
														<div class="row">
															<div class="col-3"></div>
															<div class="col-9">
																<p class="border remark-content p-2 rounded">{{ remark.contents }}</p>
															</div>
														</div>
														<hr/>
													{% endfor %}
													<div class="row">
														<div class="col-3">
															<img {% if app.user.pictures is not null %} src="{{ vich_uploader_asset(app.user, 'pictureFile') | imagine_filter('pdp') }}" {% else %} src="{{ asset("uploads/male.png" ) | imagine_filter('pdp') }}" {% endif %} class="avatar figure-img img-fluid rounded" alt="...">
														</div>
														<div class="col-9">
															<p class="text-muted me-3">{{ app.user.firstname }}
																{{ app.user.lastname }}</p>
														</div>
													</div>
													<div class="row">
														<div class="col-10">
															<input class="form-control" type="text" id="commantaireInput">
														</div>
														<div class="col-2">
															<button type="button" class="btn btn-primary">
																<i class='bx bxs-send'></i>
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<h5 class="blog-title">{{ blogpost.title }}</h5>
									<p>{{ blogpost.contents }}</p>
									<a href="{{ path('blogpost-id' , { 'id' : blogpost.id }) }}" class="btn btn-primary">EN SAVOIR PLUS<i class='bx bx-right-arrow-alt ms-2'></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				<div class="d-flex justify-content-center">
					{% do blogposts.setPageRange(2) %}
					{{ knp_pagination_render(blogposts, 'base/pagination.html.twig') }}
				</div>
			</div>
			<div class="col-6 col-md-4">
				<div class="row mb-3 order p-3">
					<h5 class="blog-title text-center">Meilleure publication</h5>
					<hr/>
					<div class="row mb-3">
						<div class="card p-3">
							{% set prod = best.products|first %}
							{% if prod is not null %}
								{% set img = prod.images|first %}
									{# <img class="card-img-top" src="{{ vich_uploader_asset(img,'fileUrl') | imagine_filter('produit') }}" alt=""> #}
								{% else %}
							{% endif %}
							<div class="card-body">
								<h4 class="card-title">{{ best.title }}</h4>
								<a href="{{ path('blogpost-id' , { 'id' : best.id }) }}" class="btn btn-primary">VOIR PLUS<i class='bx bx-right-arrow-alt ms-2'></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-3 order p-3">
					{% set blog = blogposts|first %}
					{% set prod = blog.products|first %}
					{# {% set img = prod.images|first %} #}
					<h5 class="blog-title text-center">Dernière publication</h5>
					<hr/>
					<div class="row mb-3">
						<div class="card p-3">
							{# <img class="card-img-top" src="{{ vich_uploader_asset(img,'fileUrl') | imagine_filter('produit') }}" alt=""> #}
							<div class="card-body">
								<h4 class="card-title">{{ blog.title }}</h4>
								<a href="{{ path('blogpost-id' , { 'id' : blog.id }) }}" class="btn btn-primary">VOIR PLUS<i class='bx bx-right-arrow-alt ms-2'></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-3 order p-3">
					{% set prod = produits|first %}
					{% set img = prod.images|first %}
					<h5 class="blog-title text-center">Dernière produit crée</h5>
					<hr/>
					<div class="row mb-3">
						<div class="card p-3">
							{# <img class="card-img-top" src="{{ vich_uploader_asset(img,'fileUrl') | imagine_filter('produit') }}" alt=""> #}
							<div class="card-body">
								<h4 class="card-title">{{ prod.name }}</h4>
								<a href="{{ path('product-id', { 'id' : prod.id }) }}" class="btn btn-primary">VOIR PLUS<i class='bx bx-right-arrow-alt ms-2'></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
