{% extends 'base.html.twig' %}

{% block title %}Produits
{% endblock %}

{% block body %}
	<section id="contact" class="contact">
		<div class="container" data-aos="fade-up">
			<div class="row">
				<div class="col-md-3">
					<h3>Filtrer</h3>
					{{ form(formSearch)}}
				</div>
				<div class="col-md-9">
					<h3>Nos Produits</h3>
					<div class="row">
						{% for product in products %}
							<div class="col-lg-3 d-flex align-items-stretch mb-3">
								<div class="card" style="width: 18rem;">
									{% set tab=[] %}
									{% for image in product.images %}
										{% set tab = tab|merge([image])  %}
									{% endfor %}
									{% if tab == []  %}
										<img src="{{ asset('/uploads/no-image-icon-23483.png')| imagine_filter('produit') }}" class="card-img-top" alt="...">
									{% else %}
										<img src="{{ vich_uploader_asset(tab[0],'fileUrl') | imagine_filter('produit') }}" class="card-img-top" alt="...">
									{% endif %}
									<div class="card-body">
										<h5 class="card-title">{{ product.name }}</h5>
										<span class="badge bg-danger mb-1 text-wrap">{{ product.category }}</span>
										<h6>{{ product.price|number_format(2, ',', ' ') }}
											Ar</h6>
										<a href="{{ path('product-id', { 'id' : product.id }) }}" class="btn btn-primary">EN SAVOIR PLUS</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="d-flex justify-content-center">
						{% do products.setPageRange(2) %}
						{{ knp_pagination_render(products, 'base/pagination.html.twig') }}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
