{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}
	<section id="contact" class="contact">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>{{ product.name }}</h2>
				<p>{{ product.description }}</p>
				<br/><br/>
			</div>

			<div class="row">
				<div class="col-lg-6 d-flex align-items-stretch mb-3">
					<div class="info">
						<div class="address">
							<i class="bi bi-tags-fill"></i>
							<h4>{{ product.category }}</h4>
							<p>Crée le,
								{{ product.createdAt|date("d/m/Y","Europe/Paris") }}</p>
						</div>
						<div class="address">
							<i class="bi bi-currency-exchange"></i>
							<h4>Prix :
								{{ product.price|number_format(2, ',', ' ') }}
								Ar</h4>
							<p>Nombre disponible :
								{{ product.numberAvalaible }}</p>
						</div>
						<div class="address">
							<i class="bi bi-slash-square"></i>
							<h4>Taille disponible</h4>
							<p>
								{% for size in product.sizes %}
									{{ size.name }}
									,
								{% endfor %}
							</p>
						</div>
						<div class="address">
							<i class="bi bi-tag"></i>
							<h4>Type</h4>
							<p class="p-type">
								<ul class="list-group">
									{% for type in product.type %}
										<li class="list-group-item list-group-item-info">{{ type.name }}</li><br/>
									{% endfor %}
								</ul>
							</p>
						</div>
						<a href="{{ path('cart_add', { 'id' : product.id }) }}" class="btn btn-primary mt-3">AJOUTER AU PANIER
						</a>
					</div>
				</div>
				<div class="col-lg-6 d-flex align-items-stretch mb-3">
					<div class="info">
						{% for image in product.images %}
							<iframe src="{{ vich_uploader_asset(image,'fileUrl') | imagine_filter('produit') }}" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
