{% for message in app.flashes('mercuryseries_flashy_notification') %}
	<script id="flashy-template" type="text/template">
		<div class="flashy flashy--{{ message.type }}">
        {% if message.type == "success" %}
			<i class="bi bi-bookmark-check-fill"></i>
        {% else %}
            <i class="bi bi-info-lg"></i>
        {% endif %}
			<a class="flashy__body" href="#" target="_blank"></a>
		</div>
	</script>

	<script>
		flashy("{{ message.message }}", "{{ message.link }}");
	</script>
{% endfor %}
