<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			SoaIrina -
			{% block title %}
				Accueil
			{% endblock %}
		</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="" name="description">
		<meta
		content="" name="keywords">

		<!-- Favicons -->
		<link href="assets/img/favicon.png" rel="icon">
		<link
		href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


		{% block stylesheets %}
			<!-- Vendor CSS Files -->
			<link href="{{ asset('assets/vendor/aos/aos.css') }}" rel="stylesheet">
			<link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
			<link href="{{ asset('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
			<link href="{{ asset('assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
			<link href="{{ asset('assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
			<link href="{{ asset('assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
			<link
			href="{{ asset('assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

			<!-- Template Main CSS File -->
			<link
			href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

			<!-- Load Flashy default CSS -->
			<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
		{% endblock %}

		{% block javascripts %}
			<!-- Vendor JS Files -->
			<script src="{{ asset('assets/vendor/aos/aos.js') }}"></script>
			<script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
			<script src="{{ asset('assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
			<script src="{{ asset('assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
			<script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>
			<script src="{{ asset('assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
			<script src="{{ asset('assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
			<!-- Flashy depends on jQuery -->
			<!-- <script src="//code.jquery.com/jquery.js"></script> -->
			<!-- Load Flashy default JavaScript --><script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"> </script>
			<!-- Template Main JS File -->
			<script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
			<script src="{{ asset('assets/js/main.js') }}"></script>
		{% endblock %}
	</head>
	<body>
		{% if app.request.get('_route') == 'app_home' %}
			{% include 'base/nav.html.twig' %}
		{% else %}
			{% include 'base/nav-space.html.twig' %}
		{% endif %}
		<br/><br/><br/>
		{% block body %}{% endblock %}
		{% if app.request.get('_route') == 'app_home' %}
			{% include 'base/footer.html.twig' %}
		{% endif %}
		<!-- Include Flashy default partial -->
		{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
	</body>
</html>
