{% extends 'base.html.twig' %}

{% block title %}Commande Produit
{% endblock %}

{% block body %}
	<section id="contact" class="contact">
		<div class="container" data-aos="fade-up">
			<div class="row">
				{{ form_start(editForm) }}{{ form_end(editForm) }}
			</div>
		</div>
	</section>
{% endblock %}
