{% extends 'base.html.twig' %}

{% block title %}Payement
{% endblock %}

{% block body %}
	<main class="d-flex w-100 m-5">
		<div class="container d-flex flex-column">
			<div class="row">
				<div class="col-sm-10 col-md-8 col-lg-12 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">
						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									<h1>Passer au payement</h1>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="row">
                                                <b>Mon address de livraison</b>
                                                <div class="form-check p-2">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <small class="text-muted">{{ app.user.firstname }} {{ app.user.lastname }}</small>
                                                        </li>
                                                        <li>
                                                            <small class="text-muted">{{ app.user.phoneNumber }}</small>
                                                        </li>
                                                        <li>
                                                            <small class="text-muted">{{ app.user.adress }}</small>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <b>Nos tarif de livraison</b>
                                                <div class="form-check p-2">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <small class="text-muted">Antananarivo : 3 000 ar</small>
                                                        </li>
                                                        <li>
                                                            <small class="text-muted">Province : 5 000 ar</small>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            
                                        </div>
                                        <div class="col-md-6">
                                            <b>Récaputilatif de ma commande</b>
                                            {% set total = null %}
                                            <table class="table table-hover table-inverse table-responsive">
                                                {% if cart is empty %}
                                                    <p>Votre panier est vide.</p>
                                                {% else %}
                                                    <thead class="thead-inverse">
                                                        <tr>
                                                            <th scope="col">Produit</th>
                                                            <th scope="col"></th>
                                                            <th scope="col">Quantité</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for product in cart %}
                                                            <tr>
                                                                <td>{% set tab=[] %}
                                                                    {% for image in product.product.images %}
                                                                        {% set tab = tab|merge([image])  %}
                                                                    {% endfor %}
                                                                    {% if tab == []  %}
                                                                        <img src="{{ asset('/uploads/no-image-icon-23483.png')| imagine_filter('recap') }}" class="card-img-top" alt="...">
                                                                    {% else %}
                                                                        <img src="{{ vich_uploader_asset(tab[0],'fileUrl') | imagine_filter('recap') }}" class="card-img-top" alt="...">
                                                                    {% endif %}
                                                                </td>
                                                                <td>{{ product.product.name }}</td>
                                                                <td>x{{ product.quantity }}</td>
                                                            </tr>
                                                            {% set total = total + (product.product.price * product.quantity) %}
                                                        {% endfor %}
                                                    </tbody>
                                                {% endif %}
                                            </table>
                                            {% if cart is not empty %}
                                                <div class="text-end">
                                                    <b>Nombre de produit :</b> {{ cart|length }} </br>
                                                    <b>Frais de livraison :</b> 3 000 ar</b> </br>
                                                    <b>Total de mon panier :</b> {{ total|number_format(2, ',', ' ') }} Ar</br>
                                                    <a href="{{ path('order_view') }}" class="btn btn-dark my-2">Payer | {{ (total + 3000)|number_format(2, ',', ' ') }} Ar</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
